<div class="header-container">
  <div class="header-wrapper">
    <div class="logo" routerLink="/home"></div>
    <div class="search-bar">
      <div class="border-search">
        <div class="InputContainer">
          <textarea
            class="style-1"
            id="searchTextarea"
            placeholder="Search the web"
            rows="1"
            formControlName="Search"
            #searchTextarea
          ></textarea>
        </div>

        <button class="center" type="submit"></button>
      </div>
    </div>

    <div class="categories">
      <p>News</p>
      <p>Finance</p>
      <p>Sports</p>
      <p>More</p>
    </div>

    <div class="right-btn">
      <div class="mail">
        <p>Mail</p>
      </div>
    </div>
  </div>
</div>
