<div class="header-container">
  <div class="header-wrapper">
    <div class="logo" routerLink="/home">
      <div class="d-flex">
        <img src="assets\img\world_icon.png" alt="" />
        <p>Country</p>
      </div>
    </div>
    <div class="search-bar">
      <div class="border-search">
        <div class="InputContainer">
          <input
            class="style-1"
            id="searchTextarea"
            placeholder="Search for a country
            "
            rows="1"
            [(ngModel)]="store.searchTerm"
          >

          <ion-icon *ngIf="store.searchTerm" (click)="this.store.searchTerm = null" name="close-outline"></ion-icon>        </div>
        <button class="center" type="submit">
          <ion-icon class="ionicon2" name="search"></ion-icon>
        </button>
      </div>
    </div>

    <div class="categories">
      <a target="_blank" href="https://github.com/RithyTep/tech-bodia">
        <ion-icon name="logo-github"></ion-icon>
        Github
      </a>
    </div>
  </div>
</div>
