<div class="header-container">
  <div class="header-wrapper">
    <div class="logo" routerLink="/home"></div>
    <div class="search-bar">
      <div class="border-search">
        <div class="InputContainer">
          <textarea
            class="style-1"
            id="searchTextarea"
            placeholder="Search for a country"
            rows="1" [(ngModel)]="store.searchTerm" 
          ></textarea>
        </div>

        <button class="center" type="submit">
          <ion-icon class="ionicon2" name="search"></ion-icon>
        </button>
      </div>
    </div>

    <div class="categories">
      <p>News</p>
      <p>Finance</p>
      <p>Sports</p>
      <p>Dark Mode</p>

    </div>

  
  </div>
</div>
