<footer class="footer">
  <div class="social-links">
    <a target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-paypal"></ion-icon>
    </a>
    <a
      href="https://facebook.com/rithy500"
      target="_blank"
      rel="noopener noreferrer"
    >
      <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a
      href="https://github.com/RithyTep"
      target="_blank"
      rel="noopener noreferrer"
    >
      <ion-icon name="logo-github"></ion-icon>
    </a>
    <a target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-twitter"></ion-icon>
    </a>
    <a target="_blank" rel="noopener noreferrer">
      <ion-icon name="logo-windows"></ion-icon>
    </a>
  </div>
  <div class="footer-links">
    <div class="row">
      <a>Terms</a>
      <a>Privacy Policy</a>
      <a>Privacy Dashboard</a>
    </div>
    <div class="row">
      <a>Advertise</a>
      <a>About Our Ads</a>
      <a>Careers</a>
      <a>Help</a>
    </div>
    <div class="row">
      <a>Feedback</a>
    </div>
  </div>
  <div class="copyright">© 2024 Country. All rights reserved.</div>
</footer>
