<div class="container">
  <div class="banner">
    <h1 class="shop-title">Country</h1>
    <div class="shop-subtitle">
      a unique chapter in the story of humanity, waiting to be explored
    </div>
  </div>

  <button
  matRipple
  class="btn-sort"
  [matMenuTriggerFor]="menu"
  (menuClosed)="isMenuOpen = false"
  (click)="toggleMenu()"
>
  Sort by
  <ion-icon *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</button>
  <div class="cards" *ngIf="isLoading">
    <div class="card" *ngFor="let i of [].constructor(9)">
      <img
        class="list-img loading-img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGF38rUUj_-ofBZHHaMhgfAzLbtAzkac9Efwsmm6iJ&s"
        alt=""
      />
      <div class="content">
        <p class="card-title text-loading">&nbsp;</p>
        <p class="card-content text-loading " *ngFor="let i of [].constructor(4)">
          &nbsp;
        </p>
      </div>
    </div>
  </div>


  <div *ngIf="filteredCountries.length === 0 && !isLoading">
    <div class="d-block">
      <img class="no-result-img" src="assets/img/search-not-found.png" alt="" />
      <p>Sorry, no matches were found.</p>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="sortCountries('asc')">Asc</button>
    <button mat-menu-item (click)="sortCountries('desc')">Desc</button>
  </mat-menu>
  <div class="cards">
    <div class="card" *ngFor="let item of currentPageItems">
      <img [src]="item.flags.png" alt="" />

      <div class="content">
        <p class="card-title" (click)="openDialog(item)">
          {{ item?.name?.official }}
        </p>
        <p class="card-content">
          CCA2: <span class="text-value">{{ item?.cca2 }}</span>
        </p>
        <p class="card-content">
          CCA3 : <span class="text-value">{{ item?.cca3 }}</span>
        </p>
        <p class="card-content" *ngIf="item.altSpellings[1]">
          Alt Spellings:
          <span class="text-value"> {{ item.altSpellings[1] }}</span>
        </p>
        <p class="card-content">
          IDD: <span class="text-value">{{ item?.idd?.root }} </span>
        </p>
        <p class="card-content" *ngIf="item?.name?.nativeName?.fra?.common">
          Native Name:
          <span class="text-value">
            {{ item?.name?.nativeName?.fra?.common }}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div></div>
</div>
<div class="paginator">
  <button (click)="previousPage()">Prev</button>

  <button
    *ngFor="let pageNumber of totalPages"
    (click)="goToPage(pageNumber)"
    [ngClass]="{ active: pageNumber === currentPage }"
  >
    {{ pageNumber }}
  </button>
  <button (click)="nextPage()">Next</button>
</div>
