<div class="container">
  <div class="cards">
    <div class="card" *ngFor="let item of currentPageItems">
      <img [src]="item.flags.png" alt="" />
      <p class="card-title">{{ item.name.official }}</p>
      <p class="card-content">cca2:{{ item.cca2 }}</p>
      <p class="card-content">cca2:{{ item.cca3 }}</p>
      <p class="card-content" *ngIf="item.name.nativeName?.fra?.common">
        nativeName: {{ item.name.nativeName?.fra?.common }}
      </p>
      <p class="card-content">idd: {{ item.idd.root }}</p>
    </div>
  </div>
  <div>
    <div class="paginator">
      <button (click)="previousPage()">Prev</button>

      <button
        *ngFor="let pageNumber of totalPages"
        (click)="goToPage(pageNumber)"
        [ngClass]="{ active: pageNumber === currentPage }"
      >
        {{ pageNumber }}
      </button>
      <button (click)="nextPage()">Next</button>
    </div>
  </div>
</div>
